<html>
    <head>
        <title> جوکار اپ</title>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css" rel="stylesheet" type="text/css" />
        <style>
        body{
            font-family: 'Vazir'!important;
        }
        a{
          text-decoration:none;
        }
        li{
          float:right;
          padding:5px;
        }
        </style>
    </head>
    <body style="background:#F1F7ED;margin:0px">
      <div style="width:100%;height:60px;background:#006D77">
        <ul style="list-style-type:none;text-align:center">
          <li><a href="http://localhost:8000/api/check_all_date/2020,7,1/2020,7,7"><p style="color:white;margin-top:12px">نمودار روزهای سابقه</p></a></li>
          <li><a href=""><p style="color:white;margin-top:12px">نمودار بررسی امروز</p></a></li>
        
        </ul>
      </div>
      <div style="text-align:center">
        <p style="font-size:22px">چک سابقه در یه روز</p>
      </div>

      <div style="text-align:center;padding:5px">
        <p style="font-size:14px;margin-top:5px">با انتخاب یه تاریخ میتوانید تمام نماد  ها را چک کنید</p>
      </div>
      <div style="margin-top:20px">
        {{correct}} <br>
        {{err}} <br>
        {{all_data}}
      </div>
    </body>


    
</html>