{% extends 'master.html' %}
{% block content %}
      <div style="text-align:center">
        <p style="font-size:22px">نمودار تحلیلی سابقه </p>
      </div>

      <div style="text-align:center;padding:5px">
        <p style="font-size:14px;margin-top:5px"> نمودار تحلیلی با بازه انتخابی حداکثر 3 ماهه با قابلیت تفکیک </p>
      </div>
      <div style="margin-top:20px">
        <div id="chart">
        </div>
      </div>


    <script>
         
        var options = {
          series: [{
          name: 'نماد گرفته شده',
          type: 'column',
          data: {{ok}},
        }
        ,{
          name: 'نمادهای نگرفته',
          type: 'line',
          data: {{err}}
        }],
          chart: {
          height: 450,
          type: 'line',
          stacked: false,
          fontFamily:'Vazir',
        },
        colors:['#06BA63', '#C33149'],
        dataLabels: {
          enabled: false
        },
        stroke: {
          width: [1,6]
        },
        xaxis: {
          categories: {{timer|safe}},
        },
        yaxis: [
          {
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#008FFB'
            },
            labels: {
              style: {
                colors: '#008FFB',
              }
            },
            title: {
              text: "نماد ها کاملا درست",
              style: {
                color: '#008FFB',
              }
            },
            tooltip: {
              enabled: true
            }
          },
         
          {
            seriesName: 'Revenue',
            opposite: true,
            axisTicks: {
              show: true,
            },
            axisBorder: {
              show: true,
              color: '#92374D'
            },
            labels: {
              style: {
                colors: '#92374D',
              },
            },
            title: {
              text: "نمادهای نگرفته",
              style: {
                color: '#92374D',
              }
            }
          },
        ],
        tooltip: {
          fixed: {
            enabled: true,
            position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
            offsetY: 30,
            offsetX: 60
          },
        },
        legend: {
          horizontalAlign: 'left',
          offsetX: 40
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
       
    </script>
{% endblock content %}
