{% extends 'master.html' %}
{% block content %}

  <div style="text-align:center">
        <p style="font-size:22px"> : اصلاح نماد تکراری سابقه </p> 
        <p style="font-size:14px">برنامه در تاریخ انتخاب شده دنبال نماد تکراری میگرد و حذف میکند</p>
    </div>
    <br>
    <div style="text-align:center">
        <input type="date" id="day" name="day">
        
        <br><br><br>
        <a href="#">
            <span style="background:#00A676;color:white;border-radius:10px;padding:5px 15px 5px 15px">درخواست</span>
        </a>
    </div>


{% endblock content %}
